@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 1000px;
    background: white;
    padding: 40px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.pattern-top, .pattern-bottom {
    position: absolute;
    width: 300px;
    height: 300px;
    background-size: cover;
    z-index: -1;
}

.pattern-top {
    top: -100px;
    left: -100px;
    background: url('./images/bg-pattern-top-desktop.svg') no-repeat;
}

.pattern-bottom {
    bottom: -100px;
    right: -100px;
    background: url('./images/bg-pattern-bottom-desktop.svg') no-repeat;
}


.content {
    display: flex;
    justify-content: space-between;
    text-align: left;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

h2 {
    font-size: 2rem;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}

p {
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    margin-top: 10px;
}

.stars {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.star-box {
    background: hsl(0, 0%, 100%);
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.testimonials {
    display: flex;
    gap: 20px;
    flex-direction: row;
    margin-top: 30px;
}

.testimonial {
    background: hsl(300, 43%, 22%);
    color: white;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

span{
    color: hsl(300, 43%, 22%);
}

.name {
    font-weight: bold;
    color: white;
}

.paragraph{
    color: hsl(303, 10%, 53%);
}

.status {
    font-size: 0.8rem;
    color: hsl(333, 80%, 67%);
    font-weight: 500;
}

.review {
    font-size: 0.9rem;
    margin-top: 10px;
    line-height: 1.4;
}

.review-text{
    max-width: 500px;
}

@media (max-width: 768px) {
    body{
        height: 100vh;
    }
    .container{
        margin-top: 450px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .star-box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
  }
    

    .testimonials {
        flex-direction: column;
    }
}
